<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="corpo">
<ion-item>
  <ion-label position="floating">E-mail</ion-label>
  <ion-input type="email" [(ngModel)]="user.email" required></ion-input>
</ion-item>


<ion-item>
  <ion-label position="floating">Senha</ion-label>
  <ion-input type="password"  [(ngModel)]="user.password" required></ion-input>
</ion-item>

<ion-button class="ion-padding" color="primary" expand="full" (click)="login(user)">Login</ion-button>
<ion-button class="ion-padding" color="success" expand="full"[routerLink]="['/cadastro']">Registro</ion-button>

<img id="imagem"src="assets/img/login.jpg"/>
</div>
</ion-content>
